torch
torchaudio
torchvision 
mmcv-full
pytorch-lightning<=1.4.9
numpy>=1.21.0
kornia
seaborn
pandas
matplotlib
sklearn
pylint
mypy
pydocstyle
black
isort
git+https://github.com/bdd100k/bdd100k.git
git+https://github.com/scalabel/scalabel.git

types-toml
types-termcolor
types-tabulate
types-PyYAML
types-requests
